In [1]:
# Importing modules
import pandas as pd
import requests
import json

In [25]:
property_type = "APARTMENTBUY"
offset=0
size=300
data_path = "../data/thinkimmo.json"
ALL_PROPERTY_URL = "https://api.thinkimmo.com/immo?active=true&type={property_type}&sortBy=publishDate,desc&from={offset}&size={size}&grossReturnAnd=false&allowUnknown=false&ownCapital=10&ownCapitalInPercent=true&ownCapitalAdditionalCost=false&managementCostInPercent=true&renovationCostInPercent=true&renovationCost=0&interestRate=1.5&repaymentRate=2&managementCost=35&additionalPurchaseCost=2&favorite=false&excludedFields=true&geoSearches=[]&averageAggregation=pricePerSqm%3BgrossReturn%3BsquareMeter%3BbuyingPrice%3BrunningTime%3BrentPricePerSqm%3BrentPrice%3BconstructionYear"
url = ALL_PROPERTY_URL.format(
    property_type=property_type, offset=offset, size=size
)
print(url)
_session = requests.Session()
response = _session.get(url=url)
data = {}
if response.status_code == requests.codes.ok:
    data = response.json()
    with open(data_path, 'w') as outfile:
        json.dump(data, outfile)

https://api.thinkimmo.com/immo?active=true&type=APARTMENTBUY&sortBy=publishDate,desc&from=0&size=300&grossReturnAnd=false&allowUnknown=false&ownCapital=10&ownCapitalInPercent=true&ownCapitalAdditionalCost=false&managementCostInPercent=true&renovationCostInPercent=true&renovationCost=0&interestRate=1.5&repaymentRate=2&managementCost=35&additionalPurchaseCost=2&favorite=false&excludedFields=true&geoSearches=[]&averageAggregation=pricePerSqm%3BgrossReturn%3BsquareMeter%3BbuyingPrice%3BrunningTime%3BrentPricePerSqm%3BrentPrice%3BconstructionYear

In [27]:
data_path

'../data/thinkimmo.json'

In [36]:
with open(data_path) as json_file:
    data = json.load(json_file)
df = pd.DataFrame.from_dict(data['results'])
df

,id,title,zip,buyingPrice,rooms,squareMeter,comission,platforms,rentPricePerSqm,pricePerSqm,...,priceReduced,priceIncreased,runningTime,lastUpdatedAt,favorite,favoriteDate,cashFlow,ownCapitalReturn,cashFlowPerLivingUnit,hasImages
0,a96d949081a272536e820d93ffb4a205,Naturnahe und hochwertige Eigentumswohnungen i...,51789,249900,2.0,68.74,NaN,"[{'name': 'is24', 'id': '125697069', 'url': 'h...",9.339540,3635.437882,...,False,False,0,2021-01-08T12:19:42.836Z,0,None,-300.20,-14.415366,-300.20,True
1,0574646ce54499ee08cedc7a1754d432,108 m² DG-Wohnung in ruhiger Lage von Hövelhof!,33161,129000,3.0,108.15,3.00,"[{'name': 'is24', 'id': '125697150', 'url': 'h...",6.204346,1192.787795,...,False,False,0,2021-01-08T12:20:08.629Z,0,None,54.07,5.029457,54.07,True
2,73eefaaf745ce1496eb95865d9551489,Naturnahe und hochwertige Eigentumswohnungen i...,51789,235900,2.0,64.47,NaN,"[{'name': 'is24', 'id': '125696909', 'url': 'h...",9.430743,3659.066232,...,False,False,0,2021-01-08T12:20:12.643Z,0,None,-281.47,-14.317931,-281.47,True
3,78bf848769322e231167dffcf2748435,4-Raum-Wohnung mit EBK und Balkon in Hochheim ...,65239,295000,4.0,108.00,NaN,"[{'name': 'is24', 'id': '125648871', 'url': 'h...",9.324074,2731.481481,...,False,False,0,2021-01-08T12:20:17.527Z,0,None,-188.37,-7.662373,-188.37,True
4,8c809cd91e29ad203a26eac0c825264c,ToFa: neuwertige Etagenwohnung mit gehobener A...,65239,259000,2.0,62.00,3.00,"[{'name': 'is24', 'id': '125696836', 'url': 'h...",11.935484,4177.419355,...,False,False,0,2021-01-08T12:20:21.276Z,0,None,-344.92,-15.980695,-344.92,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,e207f7a42f0da489a2d621687b2b4e34,"2,5 Zi-ETW mit Garage in ruhiger Lage von Bütt...",64572,290000,2.0,61.60,NaN,"[{'name': 'ivd24', 'publishDate': '2021-01-08T...",9.399351,4707.792208,...,False,False,0,2021-01-08T12:18:00.365Z,0,None,-451.98,-18.702759,-451.98,True
296,bd2ae51e91a919b2d30f4b6e732e6ff2,"""Märchenhaft Wohnen am Zauberland"" 3,5-Zi.Mais...",72290,379000,3.0,106.80,NaN,"[{'name': 'is24', 'id': '125688825', 'url': 'h...",8.258427,3548.689139,...,False,False,0,2021-01-08T12:18:00.396Z,0,None,-500.03,-15.832190,-500.03,True
297,d6d687e3df01d91205f934ff8e20b257,Ideal an München angebunden und ruhig gelegen ...,82008,353000,2.0,54.27,1.79,"[{'name': 'is24', 'id': '125688805', 'url': 'h...",15.201769,6504.514465,...,False,False,0,2021-01-08T11:07:04.448Z,0,None,-464.17,-15.779037,-464.17,True
298,c08fd69ea7b370ef55760e7bf6e90737,"""Märchenhaft Wohnen am Zauberland"" HIGLIGHT! 3...",72290,499000,3.0,142.81,NaN,"[{'name': 'is24', 'id': '125688800', 'url': 'h...",7.961627,3494.153071,...,False,False,0,2021-01-08T12:10:48.926Z,0,None,-672.62,-16.175150,-672.62,True
299,f9db8257514436a8a55b7971f33764e9,"""Märchenhaft Wohnen am Zauberland"" 2,5-Zi.Mais...",72290,309000,2.0,87.24,NaN,"[{'name': 'is24', 'id': '125688777', 'url': 'h...",8.470885,3541.953232,...,False,False,0,2021-01-08T12:10:49.314Z,0,None,-394.65,-15.326214,-394.65,True

In [33]:
# with open(data_path) as json_file:
#     data = json.load(json_file)
df = pd.read_json(data_path)

# Print out the first rows of papers
df.head()

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.

In [3]:
#

In [2]:
def postgresql_to_dataframe(conn, select_query):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    # cursor = conn.cursor()
    # try:
    #     cursor.execute(select_query)
    # except (Exception, psycopg2.DatabaseError) as error:
    #     print("Error: %s" % error)
    #     cursor.close()
    #     return 1
    
    # # Naturally we get a list of tupples
    # tupples = cursor.fetchall()
    # cursor.close()
    print("Read from table")
    df = pd.read_sql_query(select_query,con=conn)
    
    # We just need to turn it into a pandas dataframe
    # df = pd.DataFrame(tupples, columns=column_names)
    return df

In [3]:
# Connect to the database
conn = connect(connection_parameter)
column_names = []#["id", "source", "datetime", "mean_temp"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "SELECT * FROM public.api_liveaiproperty;")
df.head()

Connecting to the PostgreSQL database...
Connection successful
Read from table

,id,active,property_id,property_url,source_id,source_portal,property_type,image_urls,image_captions,city,...,construction_year,condition,latitude,longitude,zipcode,foreclosure,is_rented_out,created_at,updated_at,price_id
0,54253,True,deacd866948568ba215cb5a600c8a835,https://www.immobilienscout24.de/expose/125127621,125127621,is24,house,https://pictures.immobilienscout24.de/listings...,Hausansicht\nSchlafzimmer\nKinderzimmer\nKinde...,Schulzendorf,...,NaN,NO_INFORMATION,52.364316,13.596091,15732,False,False,2020-12-15 16:17:43.414476+00:00,2020-12-15 16:17:43.419523+00:00,55250.0
1,54254,True,109aed76a7f0d3cf4a0b4465b9a8f1f5,https://www.immobilienscout24.de/expose/125127610,125127610,is24,house,https://pictures.immobilienscout24.de/listings...,Hausansicht\nAnkleide-Bad\nBadezimmer\nBadezim...,Schulzendorf,...,NaN,NO_INFORMATION,52.364316,13.596091,15732,False,False,2020-12-15 16:17:43.425658+00:00,2020-12-15 16:17:43.430226+00:00,55251.0
2,54255,True,6860351e314af87d7adc16f23659cab2,https://www.immobilienscout24.de/expose/125127613,125127613,is24,house,https://pictures.immobilienscout24.de/listings...,Bien Zenker Evolution \nCertifTestsieger \nBie...,Hamburg,...,NaN,MINT_CONDITION,53.578103,9.828054,22589,False,True,2020-12-15 16:17:43.436296+00:00,2020-12-15 16:17:43.440789+00:00,55252.0
3,54263,True,3bab8b280b12f4c8eb50297ee182f52a,https://www.immobilien.de/wohnen/7390738,immobilien7390738,immobilien,house,https://pictures.immobilienscout24.de/listings...,Blick auf Haus/Wintergarten\nKüche\nBlick Terr...,Meldorf,...,1957.0,NO_INFORMATION,54.089880,9.070633,25704,False,False,2020-12-15 16:17:43.528304+00:00,2020-12-15 16:17:43.533079+00:00,55260.0
4,54264,True,94a1562d7a9a10a8a5599f61ec7f9a27,https://www.immobilienanzeigen24.com//53340-me...,immoanzeigen2479129,immoanzeigen24,house,https://www.immobilienanzeigen24.com/immobilie...,Vorderansicht\nRückansicht\nDachstudio,Meckenheim,...,1975.0,WELL_KEPT,50.625663,7.021561,53340,False,False,2020-12-15 16:17:43.539198+00:00,2020-12-15 16:17:43.543822+00:00,55261.0